<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">

    {{!-- Favicon Links --}}
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
</head>

<body>
    <header>
        <h1>Alec's Tech Blog</h1>
        <nav>
            <a href="/home"><h2>Home</h2></a>
            <a href="/dashboard"><h2>Dashboard</h2></a>
            <a href={{#unless cookie.logged_in}}"/login"{{/unless}}><h2 {{#if cookie.logged_in}}id="logout"{{/if}}>{{#if cookie.logged_in}}Log Out{{else}}Log In{{/if}}</h2></a>
        </nav>
    </header>    
    <main>
        {{{ body }}}
    </main>
    <script src="/js/script.js"></script>
</body>