<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Alec's Tech Blog</h1>
    </header>    
    <main>
        {{{ body }}}
    </main>
</body>