<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Alec's Tech Blog</h1>
        <nav>
            {{!-- TODO: add href links once routes are made --}}
            <a href="/home"><h2>Home</h2></a>
            <a href=""><h2>Dashboard</h2></a>
            <a href=""><h2>Log In</h2></a>
        </nav>
    </header>    
    <main>
        {{{ body }}}
    </main>
</body>