<section>

    <form action="" id="login">
        {{!-- Username Field --}}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        {{!-- Password Field --}}
        <label for="password">Password</label>
        <input type="text" name="password" id="password">

        {{!-- --}}
        <button type="submit">Submit</button>
    </form>

    <a href="/signup">No Profile? Sign Up</a>
</section>

<script src="/js/login.js"></script>