:root {
    --main: #2E294E;
    --secondary: #EADEDA;
    --accent: #C73E1D;
}

:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: var(--secondary);
}

header {
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

header h1 {
    margin: 20px;
    color: var(--secondary);
    align-self: center;
    text-decoration: underline var(--accent);
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    margin: auto 20px; 
    color: var(--secondary);
}

header nav a:hover {
    color: var(--accent);
    transition: .1s ease all;
}

header nav a:focus {
    border: none;
    /* text-shadow: 3px 3px 0 var(--accent); */
}

header nav a:active {
    transform: scale(98%);
}

main {
    width: 70vw;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

/** 
* POST AND COMMENT STYLING
*/

li {
    list-style: none;
    border: 5px solid var(--main);
    margin: 10px;
    background-color: var(--main);
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
}

li section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    color: var(--secondary);
    /* background-color: green; */
}

li aside {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 0 0 3px 0;
}

li section p {
    font-style: italic;
}

.date {
    font-size: 70%;
    padding: 1px;
}

li.post:hover {
    transform: scale(102%);
    transition: all ease .15s;
}

.title {
    text-shadow: 2px 2px 0 black;
}

.body {
    padding: 3px;
    text-indent: 30px;
    background-color: var(--secondary);
    border: 2px inset var(--secondary);
    border-radius: 5px;
    color: black;
}

a {
    text-decoration: none;
    color: black
}

.comments {
    padding: 0 3%;
}

#btn-box {
    flex-direction: row;
    justify-content: space-around;
}

/**
* LOGIN AND SIGNUP STYLING
*/

.box {
    width: 60%;
    align-self: center;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.box hr {
    width: 30%;
    color: var(--secondary);
}

form.userform {
    width: 50%;
    display: flex;
    align-items: center;
}

form.userform label,
form.userform input {
    margin: 5px 0;
}

form.userform label {
    color: var(--secondary)
}

form.userform input,
form#new-comment input,
form#new-post input,
form#new-post textarea {
    background-color: var(--secondary);
    border: 2px inset var(--secondary);
}

form.userform p {
    color: var(--accent);
    text-shadow: 2px 2px 0 black;
}

.box a,
form.userform button,
form#new-comment button,
form#new-post button,
#btn-box button {
    background-color: var(--accent);
    padding: 5px;
    margin: 10px;
    border: 3px outset var(--accent);
    border-radius: 3px;
    font-size: 100%;
    width: 200px;
    text-align: center;
}

.box a:hover,
form.userform button:hover,
form#new-comment button:hover,
form#new-post button:hover,
#btn-box button:hover {
    transition: .05s linear all;
    background-color: #B33819;
    border-color: #B33819;
}

.box a:active,
form.userform button:active,
form#new-comment button:active,
form#new-post button:active,
#btn-box button:active {
    border-style: inset;
}

.alert.error {
    animation: .1s shake linear;
}

@keyframes shake {
    0% {
        transform: translateX(-3px);
    }
    20% {
        transform: translateX(0px);
    }
    60% {
        transform: translateX(3px);
    }
    80% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-3px);
    }
}

/**
* DASHBOARD AND COMMENT FORM STYLING
*/

form#new-comment,
form#new-post {
    align-self: center;
    width: 70%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

form#new-post {
    padding-top: 10px;
}

form#new-comment input,
form#new-comment button {
    width: 70%;
    margin: 5px;
    padding: 5px;
}

form#new-post input{
    font-size: 130%;
    width: 60%;
    text-align: center;
}

form#new-post textarea {
    resize: none;
    width: 60%;
    margin-top: 3px;
    text-align: center;
}

