* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

header {
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

header h1 {
    margin: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    margin: auto 20px; 
}

main {
    /* background-color: gold; */
    width: 70vw;
    margin: 1% auto;
}

form {
    display: flex;
    flex-direction: column;
}

/** 
* HOME PAGE STYLING
*/

li {
    list-style: none;
    border: 5px solid green;
    margin: 10px;
    background-color: gold;
}

li section {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    color: white;
    background-color: green;
}

li section p {
    font-style: italic;
}

li p {
    padding: 3px;
}